@use '../../styles/colors.scss';

 .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding-top: 6rem;
 }

 .projects-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
 }

 
 