@use "../../styles/colors.scss";

.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  padding-top: 6rem;
  color: colors.$gray300;
}

.technologie-cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem 4rem;
  flex-wrap: wrap;

  max-width: 1000px;
}
