@use "../../styles/colors.scss";

.project-item {
  display: flex;
  flex-direction: column;

  width: 500px;
  background-color: colors.$gray700;
  border-bottom: 5px solid colors.$violet;
  cursor: pointer;

  .item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
  }

  .item-technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem 0.5rem;
  }

  .item-description {
    color: colors.$gray300;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    max-width: 400px;
  }

  @media (max-width: 576px) {
    max-width: 300px;
  }
}
