$black: #000000;
$white: #FFFFFF;

$cyan: #98E1FB;
$violet: #9466FF;

$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #71717a;
$gray600: #52525b;
$gray700: #3f3f46;
$gray800: #27272a;
$gray900: #202024;

