@use "../../styles/colors.scss";

.about-container {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    img {
      width: 300px;
    }
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  font-size: 1.25rem;
  color: colors.$gray300;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: max-content;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.5rem 3rem;
    border-radius: 0.25rem;
    cursor: pointer;

    background-color: transparent;
    border: 2px solid colors.$violet;
    color: colors.$gray300;

    &:hover {
      background-color: colors.$violet;
      transition: 0.75s;
    }
  }
}
