@use '../../styles/colors.scss';

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2rem;

    h1 {
        color: colors.$cyan;
    }

    ul {
        display: flex;
        gap: 1.5rem;

        color: colors.$gray400;
        font-size: 1.2rem;

        @media (max-width: 768px) {
            display: none;
        }
    }

    li {
        cursor: pointer;
        &:hover {
            color: colors.$gray300;
            transition: 0.5s;
        }
    }

    .menu-icon {
        background: transparent;
        border: none;
        display: none;

        @media (max-width: 768px) {
            display: inline;
        }
    }

    .menu-mobile {
        display: none;
        background-color: colors.$gray700;
        opacity: 0.3;
        height: 300px;
        width: 300px;
        left: 0;

        @media (max-width: 768px) {
            display: inline;
        }
    }

    // .active {
    //     display: inline;
    // }
}

